{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-unused-vars": 1,
  }
}
